<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>login</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/dist/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/login.css}">
<script th:src="@{/webjars/jquery/2.1.3/dist/jquery.min.js}"></script>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			
			<form class="form">
				<input type="text" placeholder="Username">
				<input type="password" placeholder="Password">
				<button type="submit" id="login-button">Login</button>
				<img th:src="@{/resources/images/bt_icon.png}" />
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1"></script>
	<script>
		$(document).ready(function() {
			$("#login-button").click(function(event) {
				event.preventDefault();
				$('form').fadeOut(500);
				$('.wrapper').addClass('form-success');
			});
		});
	</script>
</body>
</html>